.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #222;
}
.logo img {
  filter: invert(1);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
  width: 100%;
  height: 84px;
  max-width: 1440px;
}
.navbarLogo {
  font-size: small;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.navbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.navbarLinks p {
  font-size: medium;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.navbarLinks p:hover {
  color: #a79af9;
}
.profilePicture {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
}
.profilePicture:hover {
  cursor: pointer;
}
.profileMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 84px;
  right: 100px;
  width: 200px;
  height: auto;
  background-color: #131313;
  border-radius: 8px;
  z-index: 1;
  padding: 1rem;
}
.profileMenuAddress {
  font-size: xx-small;
  border: #272a2d 1px solid;
  border-radius: 15px;
  padding: 0.5rem;
}
.profileMenuLink {
  font-size: medium;
  margin: 0.5rem 0;
  color: #fff;
  text-decoration: none;

  transition: all 0.2s ease-in-out;
}
.profileMenuLink:hover {
  color: #a79af9;
}
.divider {
  width: 100%;
}
.navbarSignOutButton {
  background-color: #131313;
  border: #272a2d 1px solid;
  border-radius: 5px;
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
  font-size: x-small;
  margin: 0.5rem 0;
}


.heroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
  width: 100%;
  height: 80vh;
  max-width: 1440px;
}
.heroImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.heroImage {
  text-align: center;
}

.stakeContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.stakeNFTCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.stakedNFTCard {
  width: 30%;
  border: #222 1px solid;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.stakedNFTCard:hover {
  transform: translateY(-5px);
}

.stakeSection {
  width: 50%;
  border: #222 1px solid;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
}
.stakeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.stakeRewardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border: #222 1px solid;
  border-radius: 8px;
  margin: 1rem;
}
.stakeRewardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.stakeClaimableRewardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.claimableRewards {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin: 0.75rem 0;
}